.profile-container {
  max-width: 400px;
  margin-inline: auto;
}

.img-thumbnail {
  max-width: 200px !important;
}

.profile-listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 1rem;
  justify-content: center;
}

.profile-main .container {
  max-width: 900px !important;
}

.edit-avatar-close {
  display: block;
  text-align: end;
}

.edit-avatar-modal {
  max-width: 350px;
}

.create-listing-modal {
  max-width: 600px;
}

.added-media-container {
  overflow-wrap: anywhere;
}
