.profile-container {
  max-width: 400px;
  margin-inline: auto;
}

.img-thumbnail {
  max-width: 200px !important;
}

.profile-listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.profile-main .container {
  max-width: 900px !important;
}

.edit-avatar-close{
  display: block;
  text-align: end;
}